<a href="https://colab.research.google.com/github/rikanga/Easy-Numpy/blob/openclassroom-datascience-tools/analyse2_openclassroom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np, pandas as pd, re

In [3]:
data = pd.read_csv('https://s3.eu-west-1.amazonaws.com/course.oc-static.com/courses/7410486/personnes.csv')

In [4]:
data.head()

,prenom,email,date_naissance,pays,taille
0,Leila,leila@example.com,23/01/1990,France,1.49m
1,Samuel,samuel_329@example.com,20/09/2001,NaN,1.67m
2,Radia,choupipoune@supermail.eu,12 sept. 1984,Côte d'ivoire,153cm
3,Marc,"marco23@example.com, mc23@supermail.eu",10/02/1978,France,1.65m
4,Heri,helloworld@supermail.eu,05/03/2008,Madagascar,1.34m

In [5]:
data.describe()

       prenom                   email date_naissance    pays taille
count       7                       7              6       6      7
unique      7                       6              6       5      7
top     Leila  samuel_329@example.com     23/01/1990  France  1.49m
freq        1                       2              1       2      1

In [6]:
data

,prenom,email,date_naissance,pays,taille
0,Leila,leila@example.com,23/01/1990,France,1.49m
1,Samuel,samuel_329@example.com,20/09/2001,NaN,1.67m
2,Radia,choupipoune@supermail.eu,12 sept. 1984,Côte d'ivoire,153cm
3,Marc,"marco23@example.com, mc23@supermail.eu",10/02/1978,France,1.65m
4,Heri,helloworld@supermail.eu,05/03/2008,Madagascar,1.34m
5,Hanna,hanna2019@supermail.eu,01/01/1970,24,3.45m
6,samuël,samuel_329@example.com,NaN,Bénin,1.45m

### **Valeurs maquantes**

In [7]:
data.isnull()

   prenom  email  date_naissance   pays  taille
0   False  False           False  False   False
1   False  False           False   True   False
2   False  False           False  False   False
3   False  False           False  False   False
4   False  False           False  False   False
5   False  False           False  False   False
6   False  False            True  False   False

**Compter le nombre des fois où la valeur est manquante**

In [8]:
data.isnull().sum()

prenom            0
email             0
date_naissance    1
pays              1
taille            0
dtype: int64

### **Les doublons**

In [11]:
data.loc[data['email'].duplicated(keep=False)]

   prenom                   email date_naissance   pays taille
1  Samuel  samuel_329@example.com     20/09/2001    NaN  1.67m
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

In [12]:
data.loc[data['email'].duplicated(keep=False), :]

   prenom                   email date_naissance   pays taille
1  Samuel  samuel_329@example.com     20/09/2001    NaN  1.67m
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

In [15]:
data.loc[data.email.duplicated(), :]

   prenom                   email date_naissance   pays taille
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

### **Traiter les erreurs**

**Traiter les pays**

In [16]:
VALID_COUNTRIES = ['France', "Côte d'ivoire", 'Madagascar', 'Bénin', 'Allemagne',
                   'USA']

In [17]:
data['pays'].isin(VALID_COUNTRIES)

0     True
1    False
2     True
3     True
4     True
5    False
6     True
Name: pays, dtype: bool

In [18]:
~data['pays'].isin(VALID_COUNTRIES)

0    False
1     True
2    False
3    False
4    False
5     True
6    False
Name: pays, dtype: bool

In [19]:
mask = ~data['pays'].isin(VALID_COUNTRIES)

In [21]:
# Indivu avec des pays non valides
data.loc[mask]

   prenom                   email date_naissance pays taille
1  Samuel  samuel_329@example.com     20/09/2001  NaN  1.67m
5   Hanna  hanna2019@supermail.eu     01/01/1970   24  3.45m

**Remplacer les pays par des valeurs nulles**

In [23]:
# On replace les individus avec le pays non valide par une valeur nulle
data.loc[mask, 'pays'] = np.NaN

In [24]:
data

,prenom,email,date_naissance,pays,taille
0,Leila,leila@example.com,23/01/1990,France,1.49m
1,Samuel,samuel_329@example.com,20/09/2001,NaN,1.67m
2,Radia,choupipoune@supermail.eu,12 sept. 1984,Côte d'ivoire,153cm
3,Marc,"marco23@example.com, mc23@supermail.eu",10/02/1978,France,1.65m
4,Heri,helloworld@supermail.eu,05/03/2008,Madagascar,1.34m
5,Hanna,hanna2019@supermail.eu,01/01/1970,NaN,3.45m
6,samuël,samuel_329@example.com,NaN,Bénin,1.45m