<a href="https://colab.research.google.com/github/rikanga/Easy-Numpy/blob/main/HandlingDate_and_Times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Handling Dates and Times**

## 7.1 Converting Strings to Dates

**Problem**

Given a vector of strings representing dates and times, you want to transform them
into time series data.

**Solution**

Use pandasâ€™ to_datetime with the format of the date and/or time specified in the
format parameter:

In [2]:
# Load libraries
import numpy as np, pandas as pd

In [3]:
# Create Date strings
date_strings = np.array([
                         '03-04-2005 11:35 PM',
                         '23-05-2010 12:01 AM',
                         '04-09-2009 09:09 PM'])

In [5]:
[pd.to_datetime(date) for date in date_strings]

[Timestamp('2005-03-04 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-04-09 21:09:00')]

In [6]:
pd.to_datetime(date_strings)

DatetimeIndex(['2005-03-04 23:35:00', '2010-05-23 00:01:00',
               '2009-04-09 21:09:00'],
              dtype='datetime64[ns]', freq=None)

## 7.2 Handling Time Zones

**Problem**

You have time series data and want to add or change time zone information.

**Solution**

If not specified, pandas objects have no time zone. However, we can add a time zone
using tz during creation: