<a href="https://colab.research.google.com/github/rikanga/Easy-Numpy/blob/main/HandlingDate_and_Times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Handling Dates and Times**

## 7.1 Converting Strings to Dates

**Problem**

Given a vector of strings representing dates and times, you want to transform them
into time series data.

**Solution**

Use pandasâ€™ to_datetime with the format of the date and/or time specified in the
format parameter:

In [2]:
# Load libraries
import numpy as np, pandas as pd

In [3]:
# Create Date strings
date_strings = np.array([
                         '03-04-2005 11:35 PM',
                         '23-05-2010 12:01 AM',
                         '04-09-2009 09:09 PM'])

In [5]:
[pd.to_datetime(date) for date in date_strings]

[Timestamp('2005-03-04 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-04-09 21:09:00')]

In [6]:
pd.to_datetime(date_strings)

DatetimeIndex(['2005-03-04 23:35:00', '2010-05-23 00:01:00',
               '2009-04-09 21:09:00'],
              dtype='datetime64[ns]', freq=None)

## 7.2 Handling Time Zones

**Problem**

You have time series data and want to add or change time zone information.

**Solution**

If not specified, pandas objects have no time zone. However, we can add a time zone
using tz during creation:

In [7]:
# Create datetime with timezone
pd.Timestamp('2017-05-01 06:00:00', tz='Europe/London')

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

In [8]:
# Create datetime
date = pd.Timestamp('2017-05-01 06:00:00')

In [10]:
# Set time zone
date_in_london = date.tz_localize('Europe/London')

In [11]:
# Show datetime
date_in_london

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

In [14]:
# Change the time zone
date_in_london.tz_convert('Africa/Kinshasa')

Timestamp('2017-05-01 06:00:00+0100', tz='Africa/Kinshasa')

In [16]:
# Create three date
dates = pd.Series(pd.date_range('2/2/2002', periods=3, freq='M'))

In [17]:
dates

0   2002-02-28
1   2002-03-31
2   2002-04-30
dtype: datetime64[ns]

In [20]:
dates.dt.tz_localize('Africa/Kinshasa')

0   2002-02-28 00:00:00+01:00
1   2002-03-31 00:00:00+01:00
2   2002-04-30 00:00:00+01:00
dtype: datetime64[ns, Africa/Kinshasa]

In [22]:
# All timezone
from pytz import all_timezones

#SHow timezones
all_timezones[:10]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau']

## 7.3 Selecting Dates and Times